-
  let projectName = "Smart Devices"
block variables

doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='description' content='')
    title=projectName
    link(rel='stylesheet' href='css/style.min.css')
    link(rel='preload' as='font' href='fonts/ptmono.woff2' type='font/woff2' crossorigin='anonymous')
    link(rel='preload' as='font' href='fonts/ptmonobold.woff2' type='font/woff2' crossorigin='anonymous')
    link(rel='preload' as='font' href='fonts/Robotocondensed.woff2' type='font/woff2' crossorigin='anonymous')
    link(rel='preload' as='font' href='fonts/Robotocondensedbold.woff2' type='font/woff2' crossorigin='anonymous')
    link(rel='stylesheet' href='css/style.min.css')
    link(rel='preload' href='css/style.min.css' as='style')
    block head
  body
    block content