.footer {
  color: $color-tory-blue;
  background-color: $color-black-pearl;

  &__trigger {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    position: relative;
    text-transform: uppercase;

    &--blocked {
      border-bottom: none;
      &::after {
        display: none;
      }
    }

    @media (max-width: ($vp-768 - 1)) {
      padding: 20px 25px 15px;
    }
  }

  h3 {
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
  }

  li {
    font-family: $ff-ptmono;
    font-size: 16px;
    line-height: 22px;
  }

  a {
    color: $color-tory-blue;
  }
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 375px 3fr 2fr;
  justify-content: center;
  padding: 48px calc(50vw - 670px) 48px calc(50vw - 660px);

  @media (max-width: ($vp-1024 - 1)) {
    grid-template-columns: 5fr 4fr;
    padding: 50px calc(50vw - 365px);
  }

  @media (max-width: ($vp-768 - 1)) {
    padding: 35px 0;
  }
}

.footer__block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  grid-column: 1 / 2;

  @media (max-width: ($vp-1024 - 1)) {
    flex-direction: row;
    justify-content: space-between;
    grid-column: 1 / -1;
  }

  @media (max-width: ($vp-768 - 1)) {
    flex-direction: column;
    align-items: center;
  }
}

.footer__logo {
  margin-bottom: 30px;

  @media (max-width: ($vp-1024 - 1)) {
    margin-bottom: 20px;
  }

  @media (max-width: ($vp-768 - 1)) {
    margin-bottom: 10px;
  }
}

.footer__social {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 5px;
  padding: 0;

  @media (max-width: ($vp-1024 - 1)) {
    position: relative;
    top: 11px;
    left: 11px;
  }

  @media (max-width: ($vp-768 - 1)) {
    margin-bottom: 25px;
    top: 0;
    left: 0;
  }
}

.footer__social-item {
  display: flex;
  align-items: center;
  margin: 0 12px;

  a {
    display: inherit;
    &:hover,
    &:focus,
    &:focus-within {
      outline: 2px solid $color-cerulean;
      outline-offset: 0.3em;
      border-radius: 50%;
    }
  }
}

.footer__accordion {
  @media (max-width: ($vp-768 - 1)) {
    width: 100%;
    grid-column: 1 / -1;
    padding: 0;
    border-top: 1px solid $color-default-white;
    border-bottom: 1px solid $color-default-white;

    min-height: 60px;
    overflow: hidden;
    transition: height 0.4s;

    &[open] {
      height: inherit;
    }

    & > .footer__trigger::after,
    & > .footer__trigger::before {
      content: "";
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 30px;
      height: 30px;
      top: 0;
      right: 0;
      width: 17px;
      height: 2px;
      background-color: $color-default-white;
      margin: 25px;
    }

    & > .footer__trigger::before {
      transform: rotate(90deg);
    }

    &[open] > .footer__trigger::before {
      transform: rotate(0deg);
    }
  }
}

.footer__accordion:nth-last-of-type {
  position: relative;
  right: 13px;

  @media (max-width: ($vp-1024 - 1)) {
    right: 22px;
  }

  @media (max-width: ($vp-768 - 1)) {
    right: 0;
    position: relative;
    top: -1px;
  }
}

.footer__toggle {
  display: none;

  @media (max-width: ($vp-768 - 1)) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    right: 0;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 17px;
      height: 2px;
      background-color: $color-default-white;
    }

    &--closed::before {
      transform: rotate(90deg);
    }

    &:active::before,
    &:active::after {
      background-color: $color-default-white;
    }
  }
}

.footer__list {
  display: grid;
  margin-top: 10px;
  padding: 0;
  grid-row-gap: 8px;

  @media (max-width: ($vp-768 - 1)) {
    padding: 0 25px;
    margin-top: 0;
  }

  &--info {
    grid-template-columns: repeat(auto-fit, 220px);
    grid-column-gap: 30px;

    @media (max-width: ($vp-1024 - 1)) {
      grid-template-columns: 1fr;
    }
  }
}

.footer__item {
  p {
    margin: 0;
  }
}
