.header {
  color: $color-tory-blue;
  background-color: $color-black-pearl;
  box-shadow: 0 5px 15px 15px $color-black-pearl;
  position: fixed;
  width: 100%;
  z-index: 10;

  @media (max-width: ($vp-1024 - 1)) {
    position: absolute;
  }
}

.header__wrapper {
  padding: 26px calc(50vw - 600px) 22px calc(50vw - 660px);

  @media (max-width: ($vp-1024 - 1)) {
    padding: 9px calc(50vw - 335px) 9px calc(50vw - 365px);
  }

  @media (max-width: ($vp-768 - 1)) {
    padding: 8px 25px;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: ($vp-1024 - 1)) {
      align-items: center;
    }
  }
}

.header__logo {
  position: relative;
  top: 5px;

  @media (max-width: ($vp-1024 - 1)) {
    top: 10px;
  }

  svg {
    @media (max-width: ($vp-768 - 1)) {
      width: 35px;
      height: 35px;
    }
  }
}

.header__list {
  min-width: 485px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14px;
  justify-content: space-between;
  align-items: inherit;
  font-family: "PT Mono", "Courier", monospace;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  margin-top: 22px;
  margin-left: 15px;
  padding: 0;

  @media (max-width: ($vp-1024 - 1)) {
    min-width: 90px;
    margin: 0;
  }

  @media (max-width: ($vp-768 - 1)) {
    margin-right: 15px;
  }
}

.header__item {
  cursor: pointer;
  margin: 0;

  a {
    color: $color-tory-blue;
    margin-left: 15px;
    display: flex;
  }

  span {
    @media (max-width: ($vp-1024 - 1)) {
      display: none;
    }
  }

  svg {
    margin-right: 8px;

    @media (max-width: ($vp-1024 - 1)) {
      margin-right: 5px;
    }
  }
}

.header__btn {
  letter-spacing: 1px;
  margin-top: 14px;

  @media (max-width: ($vp-1024 - 1)) {
    display: none;
  }
}
