.main-about {
  color: $color-black-pearl;
}

.main-about__wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 100px;
  padding: 0 calc(50vw - 660px) 99px;

  @media (max-width: ($vp-1024 - 1)) {
    grid-column-gap: 30px;
    padding: 0 calc(50vw - 370px) 80px;
  }

  @media (max-width: ($vp-768 - 1)) {
    grid-column-gap: 0;
    padding: 0 25px 80px;
  }

  & picture {
    @media (max-width: ($vp-768 - 1)) {
      display: none;
    }
  }
}

.main-about__description {
  position: relative;

  h3 {
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
    margin: 0 0 13px 0;

    @media (max-width: ($vp-1024 - 1)) {
      margin: 0 0 9px;
    }

    @media (max-width: ($vp-768 - 1)) {
      font-size: 28px;
      line-height: 39px;
    }
  }

  p {
    font-family: $ff-ptmono;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin-top: 13px;
    margin-bottom: 22px;

    @media (max-width: ($vp-1024 - 1)) {
      margin-top: 9px;
    }

    @media (max-width: ($vp-768 - 1)) {
      font-size: 14px;
      line-height: 18px;
      margin-top: 14px;
      margin-bottom: 19px;
    }
  }
}

.main-about__trigger {
  list-style: none;
  

  &::-webkit-details-marker {
    display: none
  }
}

.main-about__trigger::after {
  content: 'Подробнее';
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  width: 180px;
  color: $color-deep-sky-blue;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid $color-deep-sky-blue;
  border-radius: 3px;
  padding: 13px 15px;

  @media (max-width: ($vp-1024 - 1)) {
    bottom: -50px
  }

  @media (max-width: ($vp-768 - 1)) {
    width: 160px;
    padding: 9px 15px;
  }
}

details[open] .main-about__trigger::after {
  content: 'Свернуть';
  bottom: -50px;
}
