.main-goods {
  background-color: $color-black-pearl;
}

.main-goods__wrapper {
  padding: 66px calc(50vw - 610px) 140px;

  @media (max-width: ($vp-1024 - 1)) {
    padding: 56px calc(50vw - 335px) 75px;
  }

  @media (max-width: ($vp-768 - 1)) {
    padding: 44px calc(50vw - 135px) 86px;
  }

  h3 {
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
    margin: 0 0 37px 0;

    @media (max-width: ($vp-768 - 1)) {
      font-weight: 400;
      font-size: 28px;
      line-height: 40px;
      margin: 0 0 28px 0;
      word-spacing: 4px;
    }
  }
}

.main-goods__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  justify-items: center;
  gap: 85px;
  margin-top: 53px;

  @media (max-width: ($vp-1024 - 1)) {
    grid-template-columns: repeat(auto-fit, minmax(670px, 1fr));
    gap: 30px;
    margin-top: 37px;
  }

  @media (max-width: ($vp-768 - 1)) {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    margin-top: 29px;
  }
}

.main-goods__item {
  position: relative;
  background-color: $color-cerulean;
  aspect-ratio: 350 / 650;
  height: 650px;

  @media (max-width: ($vp-1024 - 1)) {
    aspect-ratio: 670 / 250;
    height: 250px;
  }

  @media (max-width: ($vp-768 - 1)) {
    aspect-ratio: 270 / 250;
  }

  h4 {
    position: absolute;
    top: 20px;
    left: 40px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    width: 170px;

    @media (max-width: ($vp-1024 - 1)) {
      top: 10px;
      left: 45px;
    }

    @media (max-width: ($vp-768 - 1)) {
      top: 3px;
      left: 30px;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
    }
  }
}

.main-goods__void {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: $color-deep-sky-blue;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: ($vp-768 - 1)) {
    width: 40px;
    height: 40px;
  }
}
