.main-form {
  background: linear-gradient(157deg, $color-cerulean 50%, $color-deep-sky-blue 50%);
}

.main-form__wrapper {
  display: flex;
  justify-content: center;
  gap: 115px;
  padding: 170px calc(50vw - 625px) 250px;

  @media (max-width: ($vp-1024 - 1)) {
    display: inherit;
    padding: 11px calc(50vw - 334px) 130px;

    picture {
      display: none;
    }

    @media (max-width: ($vp-768 - 1)) {
      padding: 14px calc(50vw - 135px) 90px;
    }
  }
}

.main-form__block {
  h3 {
    font-weight: 400;
    font-size: 36px;
    line-height: 51px;

    @media (max-width: ($vp-768 - 1)) {
      font-size: 30px;
      line-height: 42px;
    }
  }

  p {
    display: inherit;
    font-family: $ff-ptmono;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    margin: 0;

    &:nth-of-type(1) {
      grid-column: 1 / 2;
    }

    &:nth-of-type(2) {
      grid-column: 2 / 3;
    }

    &:nth-of-type(3) {
      grid-column: 1 / -1;
    }

    @media (max-width: ($vp-768 - 1)) {
      &:nth-of-type(n) {
        grid-column: 1 / -1;
      }
    }
  }
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 20px;

  @media (max-width: ($vp-768 - 1)) {
    grid-template-columns: 1fr;
  }
}

input,
textarea {
  color: $color-default-white;
  background-color: $color-pacific-blue;
  border: none;
  border-radius: 3px;
  font-family: $ff-ptmono;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  padding: 15px;
}

.main-form__btn {
  width: 265px;
  color: $color-default-white;
  background-color: $color-black-pearl;
  border: none;
  border-radius: 3px;

  @media (max-width: ($vp-768 - 1)) {
    width: 270px;
  }
}

.main-form__checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  label {
    position: relative;
    display: flex;
    align-items: center;
  }

  input[type="checkbox"] + span {
    width: 15px;
    height: 15px;
    margin-right: 9px;
    border: 1px solid $color-default-white;
    border-radius: 1px;

    &:hover,
    &:focus,
    &:focus-within {
      outline: 2px solid $color-default-white;
      outline-offset: 0.3em;
    }
  }

  input[type="checkbox"]:checked + span {
    content: url("../img/svg/icon-tick.svg");
  }

  input[type="checkbox"]:focus + span {
    outline: 2px solid $color-default-white;
    outline-offset: 0.3em;
  }

  input[type="checkbox"]:disabled + span,
  input[type="checkbox"]:disabled ~ small {
    opacity: 0.5;
  }

  small {
    font-family: $ff-ptmono;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
}
