.modal {
  color: $color-tory-blue;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  background-color: rgba($color-default-black, 0.8);
  transform: scale(1.2);
  visibility: hidden;
  opacity: 0;

  transition: opacity $trans-modal,
    transform $trans-modal,
    visibility $trans-modal;

  pointer-events: none;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    position: fixed;
    inset: 0;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 146px 40px 84px;

    @include vp-767 {
      padding: 60px 16px;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    z-index: -1;
    cursor: pointer;
  }

  &__block {
    width: 500px;
    background-color: $color-deep-sky-blue;
    border-radius: 3px;
    padding: 40px;
    position: fixed;
    inset: 146px 16px auto 0;
    margin: auto;
    height: fit-content;
  }

  &__content {
    position: relative;

    @include vp-767 {
      width: 100%;
      padding: 20px;
    }

    h3 {
      font-weight: 400;
      font-size: 30px;
      line-height: 42px;
      margin: 0;
    }

    p {
      font-family: $ff-ptmono;
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
      margin-bottom: 40px;
    }
  }

  &__description {
    margin-top: 0;
  }

  form {
    grid-template-columns: 1fr;

    p {
      display: inherit;
      margin: 0;
    }

    button {
      width: 100%;
      margin: 4px 0 5px;
    }

    input,
    textarea {
      color: $color-default-white;
      background-color: $color-pacific-blue;
      border: none;
      border-radius: 3px;
      font-family: $ff-ptmono;
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
      padding: 15px;

      &::placeholder {
        color: $color-default-white;
      }
    }

    textarea {
      height: 155px;
      padding-top: 23px;

      @media (max-width: ($vp-768 - 1)) {
        height: 180px;
      }
    }
  }

  &__close-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 15px;
    right: 15px;
    z-index: 1;

    width: 40px;
    height: 40px;
    padding: 0;

    background: $color-transparent;
    border: none;
    cursor: pointer;
    transform: rotate(45deg);

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 27px;
      height: 2px;
      background-color: $color-default-white;
    }

    &::before {
      transform: rotate(90deg);
    }

    &:active::before,
    &:active::after {
      background-color: $color-default-white;
    }
  }

  &--responsive {
    .modal__content {
      width: 100%;
    }
  }

  &--fit-content {
    .modal__content {
      width: auto;

      @include vp-767 {
        width: 100%;
      }
    }
  }

  &--no-scale {
    transform: none;
  }

  &--preload {
    transition: none;
  }

  &.is-active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }
}

.modal__form-btn {
  font-size: 16px;
  line-height: 18px;
  color: $color-default-white;
  background-color: $color-black-pearl;
  border: none;
  border-radius: 3px;
  padding: 13px 25px;
}

.modal__checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-left: 9px;

  @media (max-width: ($vp-1024 - 1)) {
    margin-left: 0;
    margin-bottom: 5px;
  }

  label {
    position: relative;
    display: flex;
    align-items: center;
  }

  input[type="checkbox"] + span {
    width: 15px;
    height: 15px;
    margin-right: 9px;
    border: 1px solid $color-default-white;
    border-radius: 1px;

    &:hover,
    &:focus,
    &:focus-within {
      outline: 2px solid $color-default-white;
      outline-offset: 0.3em;
    }
  }

  input[type="checkbox"]:checked + span {
    content: url("../img/svg/icon-tick.svg");
  }

  input[type="checkbox"]:focus + span {
    outline: 2px solid $color-default-white;
    outline-offset: 0.3em;
  }

  input[type="checkbox"]:disabled + span,
  input[type="checkbox"]:disabled ~ small {
    opacity: 0.5;
  }

  small {
    font-family: $ff-ptmono;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
}
