extends common/_base

block head

block content
    .wrapper
        include ./includes/header
        main
            include ./includes/main-introduction
            include ./includes/main-advantages
            include ./includes/main-about
            include ./includes/main-goods
            include ./includes/main-form
        include ./includes/footer
        include ./includes/modal
    script(src='js/vendor.min.js')
    script(src='js/main.min.js')
