extends common/_base

block head
    meta(name='description' content='Описание проекта')

block content
    //- .wrapper
    include ./includes/header
    main
        // 1х: 1920px; 2x: 3840px
        section.main-introduction(style='background-image: var(--bg, url(img/main-bg-desktop@1x.jpg));\
        --double-bg: url(img/main-bg-desktop@2x.jpg);\
        --tab-bg: url(img/main-bg-tablet@1x.jpg);\
        --double-tab-bg: url(img/main-bg-desktop@2x.jpg);\
        --mob-bg: url(img/main-bg-mobile@1x.jpg);\
        --double-mob-bg: url(img/main-bg-mobile@2.jpg);')
          .main-introduction__wrapper
            h1 Печатные платы
            p
              | производство и монтаж, поставка комплектующих,
              br
              | блоков и модулей
            a.main-introduction__btn.btn-wide(role='button' href='#' aria-label='Получить бесплатную консультацию' aria-expanded='false')
              span.for-tablet Получить бесплатную консультацию
              span.for-mobile Бесплатная консультация
        section.main-advantages
          .main-advantages__wrapper
            ul.main-advantages__list
              li.main-advantages__item
                svg.main-advantages__icon(width='35' height='35' role='img' aria-hidden='true' fill='#00B2FF')
                  use(href='img/sprite_auto.svg#icon-stopwatch')
                h3 Оперативные сроки 
                p
                  | Усовершенствованная логистическая система позволяет нам просчитывать стоимость, производить и доставлять заказы плат и комплектующих в самые короткие сроки.
              li.main-advantages__item
                svg.main-advantages__icon(width='35' height='35' role='img' aria-hidden='true' fill='#00B2FF')
                  use(href='img/sprite_auto.svg#icon-hired')
                h3 Крупные поставщики
                p
                  | Нашими поставщиками являются такие крупные мировые компании как: OSRAM, CREE, HOLGLITRONIC, REFOND. Сотрудничество с такими компаниями обеспечивает хорошее качество нашей продукции.
              li.main-advantages__item
                svg.main-advantages__icon(width='35' height='35' role='img' aria-hidden='true' fill='#00B2FF')
                  use(href='img/sprite_auto.svg#icon-detective')
                h3 Полная конфиденциальность
                p По желанию клиента мы обеспечиваем полную конфиденциальность.
              li.main-advantages__item
                svg.main-advantages__icon(width='35' height='35' role='img' aria-hidden='true' fill='#00B2FF')
                  use(href='img/sprite_auto.svg#icon-tag')
                h3 Персонализация стоимости
                p
                  | Мы подбираем определенную фабрику, поставщиков, вид доставки, чтобы установить ту цену, которая Вас устраивает.
        section.main-about
          .main-about__wrapper
            // 1х: 150px; 2x: 300px
            picture
              source(type='image/webp' srcset='img/date-about@1x.webp, img/date-about@2x.webp 2x')
              img(src='img/date-about@1x.png' srcset='img/date-about@2x.png 2x' alt='“2022” год' width='150' height='320')
            .main-about__description
              h3 О компании
              p
                | Мы поставляем электронные комплектующие, производим печатные платы и предоставляем мировые технологии с 1997 года. Выполняем срочные заказы и пилотные образцы до 10 дней.
              p
                | Наши поставщики —мировые производители электронных компонентов: OSRAM, CREE, HOLGLITRONIC, REFOND. Печатные платы и комплектующие Service Devices применяются на предприятиях Российских Железных Дорог (РЖД), РоссАвтоПрома (ВАЗ, АвтоГАЗ), МинАтома, СпецМедТехники. Среди наших клиентов крупнейшие Производители светотехники России.
              p
                | Smart Device — это команда профессионалов. Через нас прошло более 1 000 000 клиентов, 70% из которых продолжают сотрудничество по сей день. На данный момент насчитывается более 14 офисов по всей стране и 20 городов присутствия.
              p
                | Мы стремимся к постоянному развитию и повышению уровня качества продукции, производимой внутри компании. Использование инновационных технологий помогает экономить деньги и время наших клиентов.
              a.main-about__btn.btn-middle(role='button' href='#' aria-label='Подробнее о компании' aria-expanded='false') Подробнее
        section.main-goods
          .main-goods__wrapper
            h3.for-tablet Smart Device предлагает следующие товары и услуги
            h3.for-mobile Товары и услуги Smart Device
            .main-goods__list
              a.main-goods__item(href='#' aria-label='Подробнее о производстве печатных плат' aria-expanded='false')
                // 1х: 350px; 2x: 700px
                picture
                  source(type='image/webp' media='(max-width: 767px)' srcset='img/service-1-mobile@1x.webp, img/service-1-mobile@2x.webp 2x')
                  source(type='image/jpg' media='(max-width: 767px)' srcset='img/service-1-mobile@1x.jpg, img/service-1-mobile@2x.jpg 2x')
                  source(type='image/webp' media='(max-width: 1023px)' srcset='img/service-1-tablet@1x.webp, img/service-1-tablet@2x.webp 2x')
                  source(type='image/jpg' media='(max-width: 1023px)' srcset='img/service-1-tablet@1x.jpg, img/service-1-tablet@2x.jpg 2x')
                  source(type='image/webp' srcset='img/service-1-desktop@1x.webp, img/service-1-desktop@2x.webp 2x')
                  img(src='img/service-1-desktop@1x.jpg' srcset='img/service-1-desktop@2x.jpg 2x' alt='Фоновое изображение платы № 1' width='350' height='650')
                h4 Производство печатных плат
                .main-goods__void
                  svg(width='5' height='10' aria-hidden='true' fill='#00B2FF')
                    use(href='img/sprite_auto.svg#icon-vector')
              a.main-goods__item(href='#' aria-label='Подробнее о монтаже печатных плат' aria-expanded='false')
                // 1х: 350px; 2x: 700px
                picture
                  source(type='image/webp' media='(max-width: 767px)' srcset='img/service-2-mobile@1x.webp, img/service-2-mobile@2x.webp 2x')
                  source(type='image/jpg' media='(max-width: 767px)' srcset='img/service-2-mobile@1x.jpg, img/service-2-mobile@2x.jpg 2x')
                  source(type='image/webp' media='(max-width: 1023px)' srcset='img/service-2-tablet@1x.webp, img/service-2-tablet@2x.webp 2x')
                  source(type='image/jpg' media='(max-width: 1023px)' srcset='img/service-2-tablet@1x.jpg, img/service-2-tablet@2x.jpg 2x')
                  source(type='image/webp' srcset='img/service-2-desktop@1x.webp, img/service-2-desktop@2x.webp 2x')
                  img(src='img/service-2-desktop@1x.jpg' srcset='img/service-2-desktop@2x.jpg 2x' alt='Фоновое изображение платы № 2' width='350' height='650')
                h4 Монтаж печатных плат
                .main-goods__void
                  svg(width='5' height='10' aria-hidden='true' fill='#00B2FF')
                    use(href='img/sprite_auto.svg#icon-vector')
              a.main-goods__item(href='#' aria-label='Подробнее о комплектующих для светотехники' aria-expanded='false')
                // 1х: 350px; 2x: 700px
                picture
                  source(type='image/webp' media='(max-width: 767px)' srcset='img/service-3-mobile@1x.webp, img/service-3-mobile@2x.webp 2x')
                  source(type='image/jpg' media='(max-width: 767px)' srcset='img/service-3-mobile@1x.jpg, img/service-3-mobile@2x.jpg 2x')
                  source(type='image/webp' media='(max-width: 1023px)' srcset='img/service-3-tablet@1x.webp, img/service-3-tablet@2x.webp 2x')
                  source(type='image/jpg' media='(max-width: 1023px)' srcset='img/service-3-tablet@1x.jpg, img/service-3-tablet@2x.jpg 2x')
                  source(type='image/webp' srcset='img/service-3-desktop@1x.webp, img/service-3-desktop@2x.webp 2x')
                  img(src='img/service-3-desktop@1x.jpg' srcset='img/service-3-desktop@2x.jpg 2x' alt='Фоновое изображение платы № 3' width='350' height='650')
                h4 Комплектующие для светотехники
                .main-goods__void
                  svg(width='5' height='10' aria-hidden='true' fill='#00B2FF')
                    use(href='img/sprite_auto.svg#icon-vector')
        section.main-form
          .main-form__wrapper
            // 1х: 510px; 2x: 1020px
            picture
              source(type='image/webp' srcset='img/paper-airplane@1x.webp, img/paper-airplane@2x.webp 2x')
              img(src='img/paper-airplane@1x.png' srcset='img/paper-airplane@2x.png 2x' alt='Бумажный самолетик' width='510' height='285')
            .main-form__block
              h3 Остались вопросы? Задайте их нам!
              p Мы проконсультируем Вас бесплатно
              form(action='https://echo.htmlacademy.ru/' method='post')
                p
                  label.visually-hidden(for='form-name') Имя
                  input#form-name(type='text' name='form-name' placeholder='Имя' required='' autocomplete='name')
                p
                  label.visually-hidden(for='form-tel') Телефон
                  input#form-tel(inputmode='decimal' pattern='-?(\d+|\d+.\d+|.\d+)([eE][-+]?\d+)?' type='tel' name='form-tel' placeholder='Телефон' required='' autocomplete='tel')
                p
                  label.visually-hidden(for='form-text') Ваш вопрос
                  textarea#form-text(placeholder='Ваш вопрос')
                button.main-form__btn.btn-wide(type='submit') Задать вопрос
                .main-form__checkbox
                  label(for='form-subscribe')
                    input#form-subscribe.visually-hidden(checked='checked' type='checkbox' value='checked')
                    span
                    small
                      | Я согласен на обработку
                      br
                      | персональных данных
        include ./includes/footer
        // Можно добавить класс is-active
        .modal.modal--preload(data-modal='feedback')
            .modal__wrapper
            .modal__block
                .modal__overlay(data-close-modal='')
                .modal__content
                h3 Закажите звонок
                p.modal__description Оставьте контакты, мы проконсультируем вас бесплатно в удобное время
                button.modal__close-btn.btn-reset(type='button' aria-label='Закрыть попап' data-close-modal='')
                    svg(width='20' height='20')
                    use(xlink:href='img/sprite_auto.svg#icon-close')
                form(action='https://echo.htmlacademy.ru/' method='post')
                p
                    label.visually-hidden(for='modal-name') Имя
                    input#modal-name(type='text' name='modal-name' placeholder='Имя' required='' autocomplete='name')
                p
                    label.visually-hidden(for='modal-tel') Телефон
                    input#modal-tel(inputmode='decimal' pattern='-?(\d+|\d+.\d+|.\d+)([eE][-+]?\d+)?' type='tel' name='modal-tel' placeholder='Телефон' required='' autocomplete='tel')
                p
                    label.visually-hidden(for='modal-text') Ваш вопрос
                    textarea#modal-text(placeholder='Ваш вопрос')
                button.main-form__btn.btn-wide(type='submit') Отправить
                .main-form__checkbox
                    label(for='modal-subscribe')
                    input#modal-subscribe.visually-hidden(checked='checked' type='checkbox' value='checked')
                    span
                    small Я согласен на обработку персональных данных
    script(src='js/vendor.min.js')
    script(src='js/main.min.js')
