section.main-about.for-responsive
    .main-about__wrapper
        // 1х: 150px; 2x: 300px
        picture
            source(type='image/webp' srcset='img/date-about@1x.webp, img/date-about@2x.webp 2x')
            img(src='img/date-about@1x.png' srcset='img/date-about@2x.png 2x' alt='“2022” год' width='150' height='320')
        .main-about__description
            h3 О компании
            p
                | Мы поставляем электронные комплектующие, производим печатные платы и предоставляем мировые технологии с 1997 года. Выполняем срочные заказы и пилотные образцы до 10 дней.
            p
                | Наши поставщики —мировые производители электронных компонентов: OSRAM, CREE, HOLGLITRONIC, REFOND.
                span.for-tablet
                    | Печатные платы и комплектующие Service Devices применяются на предприятиях Российских Железных Дорог (РЖД), РоссАвтоПрома (ВАЗ, АвтоГАЗ), МинАтома, СпецМедТехники. Среди наших клиентов крупнейшие Производители светотехники России.
            details.main-about__accordion
                summary.main-about__trigger
                p.for-mobile
                    | Печатные платы и комплектующие Service Devices применяются на предприятиях Российских Железных Дорог (РЖД), РоссАвтоПрома (ВАЗ, АвтоГАЗ), МинАтома, СпецМедТехники. Среди наших клиентов крупнейшие Производители светотехники России.
                p
                    | Smart Device — это команда профессионалов. Через нас прошло более 1 000 000 клиентов, 70% из которых продолжают сотрудничество по сей день. На данный момент насчитывается более 14 офисов по всей стране и 20 городов присутствия.
                    | Мы стремимся к постоянному развитию и повышению уровня качества продукции, производимой внутри компании. Использование инновационных технологий помогает экономить деньги и время наших клиентов.

