section.main-about.for-responsive
    .main-about__wrapper
        // 1х: 150px; 2x: 300px
        picture
            source(type='image/webp' srcset='img/date-about@1x.webp, img/date-about@2x.webp 2x')
            img(src='img/date-about@1x.png' srcset='img/date-about@2x.png 2x' alt='“2022” год' width='150' height='320')
        .main-about__description
            h3 О компании
            p Мы&nbsp;поставляем электронные комплектующие, производим печатные платы и&nbsp;предоставляем мировые технологии с&nbsp;1997&nbsp;года. Выполняем срочные заказы и&nbsp;пилотные образцы до&nbsp;10&nbsp;дней.
            p(data-trim="98" data-trim-on="mobile") Наши поставщики &mdash;мировые производители электронных компонентов: OSRAM, CREE, HOLGLITRONIC, REFOND. Печатные платы и&nbsp;комплектующие Service Devices применяются на&nbsp;предприятиях Российских Железных Дорог (РЖД), РоссАвтоПрома (ВАЗ, АвтоГАЗ), МинАтома, СпецМедТехники. Среди наших клиентов крупнейшие Производители светотехники России.
            p(data-hide) Smart Device&nbsp;&mdash; это команда профессионалов. Через нас прошло более 1&nbsp;000&nbsp;000&nbsp;клиентов, 70% из&nbsp;которых продолжают сотрудничество по&nbsp;сей день. На&nbsp;данный момент насчитывается более 14&nbsp;офисов по&nbsp;всей стране и&nbsp;20&nbsp;городов присутствия. Мы&nbsp;стремимся к&nbsp;постоянному развитию и&nbsp;повышению уровня качества продукции, производимой внутри компании. Использование инновационных технологий помогает экономить деньги и&nbsp;время наших клиентов.
            button.main-about__trigger(type="button" aria-expanded="false") Подробнее
