section.main-advantages
    .main-advantages__wrapper.for-responsive
        ul.main-advantages__list
            li.main-advantages__item
                svg.main-advantages__icon(width='35' height='35' role='img' aria-hidden='true' fill='#00B2FF')
                  use(href='img/sprite_auto.svg#icon-stopwatch')
                h3 Оперативные сроки 
                p
                  | Усовершенствованная логистическая система позволяет нам просчитывать стоимость, производить и доставлять заказы плат и комплектующих в самые короткие сроки.
            li.main-advantages__item
                svg.main-advantages__icon(width='35' height='35' role='img' aria-hidden='true' fill='#00B2FF')
                  use(href='img/sprite_auto.svg#icon-hired')
                h3 Крупные поставщики
                p
                  | Нашими поставщиками являются такие крупные мировые компании как: OSRAM, CREE, HOLGLITRONIC, REFOND. Сотрудничество с такими компаниями обеспечивает хорошее качество нашей продукции.
            li.main-advantages__item
                svg.main-advantages__icon(width='35' height='35' role='img' aria-hidden='true' fill='#00B2FF')
                  use(href='img/sprite_auto.svg#icon-detective')
                h3 Полная конфиденциальность
                p По желанию клиента мы обеспечиваем полную конфиденциальность.
            li.main-advantages__item
                svg.main-advantages__icon(width='35' height='35' role='img' aria-hidden='true' fill='#00B2FF')
                  use(href='img/sprite_auto.svg#icon-tag')
                h3 Персонализация стоимости
                p
                  | Мы подбираем определенную фабрику, поставщиков, вид доставки, чтобы установить ту цену, которая Вас устраивает.
                  